@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #002029;
  height: 100vh;
  overflow: hidden;
}

.hidde {
  display: none !important;
}

#container {
  display: flex;
  flex-direction: row;
  min-width: 70%;
  min-height: 95vh;
  margin: auto;
  border-radius: 3rem;
  color: #ddd;
}

#contacts {
  display: flex;
  flex-direction: row;
  background-color: #00303d;
  border-radius: 3rem 0 0 3rem;
  flex: 1 2 15%;
  overflow: auto;
  max-height: 95vh;
}

#contacts ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  margin: 15px 5px;
}

#contacts ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #003847;
  border-radius: 0.9rem;
  cursor: pointer;
  margin-inline: 5px;
}

#contacts ul li.select {
  outline: 2px solid #ddd;
}

#contacts ul li>i {
  font-size: 4rem;
  border-radius: 50%;
  background-color: #18424e;
  margin-right: .2rem;
  padding: 1rem;
}

#contacts ul li span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#contacts ul li button {
  display: flex;
  justify-content: center;
  align-self: center;
  border: none;
  border-radius: .5rem;
  outline: none;
  width: 4.5rem;
  padding: 0.5rem;
  color: #ddd;
  background-color: #5b9643;
  margin-left: auto;
}

#contacts ul li button i {
  font-size: 1.5rem;
}

#contacts ul li span p {
  font-size: 1rem;
  opacity: 0.7;
}

#content {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  flex: 1 2 50%;
  max-height: 95vh;
}

#content #contact {
  display: flex;
  align-items: center;
  height: 10rem;
  justify-content: start;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #004052;
  border-radius: 0 3rem 0 0;
}

#content #contact i {
  background-color: #234b56;
  font-size: 6rem;
  padding: 1rem;
  border-radius: 50%;
}

#content #contact span {
  gap: 1rem;
}

#content #contact button {
  padding: 1.7rem 2rem;
  border-radius: 1rem;
  background-color: #00303d;
  border: none;
  color: #ddd;
  cursor: pointer;
  font-size: 2rem;
  margin-left: auto;
}

#content #contact button:hover {
  opacity: 0.8;
}

#content #message-content {
  overflow: auto;
  background-color: #005066;
  gap: 1.5rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#content #message-content .message {
  background-color: #00607a;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.4rem;
  border-radius: 0 1rem 1rem;
  width: fit-content;
  width: -moz-fit-content;
}

/* #content #message-content .message:not(.you) {
    max-width: 35vw;
} */

#content #message-content .message.you {
  background-color: #0083a8;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  border-radius: 1rem 0 1rem 1rem;
  flex-direction: row-reverse;
}

#content #message-content .message {
  max-width: 35vw;
}

#message-content .message .message-body {
  font-size: 2rem;
  font-weight: 400;
}

#message-content .message p {
  font-size: 0.9rem;
}

#area-input {
  background-color: #004052;
  padding: 1.5rem;
  border-radius: 0 0 3rem 0;
}

#area-input #form {
  background-color: #00607a;
  border-radius: 999px;
  padding: 1.1rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

#area-input #form input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: #ddd;
  font-size: 1.5rem;
  outline: none;
}
#area-input #form input::placeholder {
  color: #ddd;
  opacity: 0.7;
}

#area-input #form:focus-within {
  outline: 2px solid white;
}

#area-input #form button {
  padding: 0.7rem;
  font-size: 2.2rem;
  border-radius: 1rem;
  background-color: #00303d;
  border: none;
  color: #ddd;
  cursor: pointer;
  display: flex;
}

#area-input #form button:hover {
  opacity: 0.9;
}
